@model BacklogDataModel


	<div>
		<table class="center">
			<tr>
				<td class="font-weight-bold">Group Name:</td>
				<td>

					@Html.DropDownList("Group Name", new List<SelectListItem>
				{
				new SelectListItem{ Text="DCHA.3.Architect.AMS.Imp", Value = "DCHA.3.Architect.AMS.Imp",Selected=Model.IsImpSelected },
				new SelectListItem{ Text="DCHA.3.Architect.AMS.Base", Value = "DCHA.3.Architect.AMS.Base",Selected=Model.IsBaseSelected }
				}, new
				{
					@onchange = "callChangefunc(this.value)"
				}
				)
				</td>
			</tr>
		</table>

	</div>

<br/>

<div class="tab">
	<button class="tablinks active font-weight-bold" onclick="openTab(event, 'Challangers')">Challangers</button>
	<button class="tablinks font-weight-bold" onclick="openTab(event, 'Diplomets')">Diplomets</button>
	<button class="tablinks font-weight-bold" onclick="openTab(event, 'Optimizers')">Optimizers</button>

</div>
<div class="shadow">

	<div id="Challangers"  style="display:block" class="tabcontent">
		<div class="w-100 clearfix">
			<div class="d-inline font-weight-bold">
				<span class="text-danger p-2">
					UnAssigned Cases: @Model.ChallangerUnAssignedCases
				</span>
				<span class="text-success p-2">Assigned Cases: @Model.ChallangerAssignedCases</span>
				<span class="text-primary p-2">Total Cases : @Model.backlog.Tables[1].Rows.Count</span>
			</div>
			<button class="btn btn-success right font-weight-bold" onclick="ExportToExcel('xlsx','challangers');">Export</button>
		</div>
		<table id="challangers" class="sortable table table-striped table-bordered">
			<thead class="table-dark">
			<th class="no-sort">Pre-Triage Status</th>
			@for (int ii = 0; ii < Model.backlog.Tables[1].Columns.Count - 1; ii++)
			{
			<th><button>@Model.backlog.Tables[1].Columns[ii].ColumnName <span aria-hidden="true"></span> </button></th>
			}
			</thead>

			@for (int i = 0; i < Model.backlog.Tables[1].Rows.Count; i++)
			{
			<tr>
				<td>@Model.backlog.Tables[1].Rows[i]["PreTriageStatus"]</td>

				@for (int j = 0; j < Model.backlog.Tables[1].Columns.Count - 1; j++)
					{
				<td>@Model.backlog.Tables[1].Rows[i][j]</td>
					}
			</tr>
			}
		</table>
	</div>
	<div id="Diplomets" class="tabcontent mb-2">
		<div class="w-100 clearfix">
			<div class="d-inline font-weight-bold">

				<span class="text-danger p-2">UnAssigned Cases: @Model.DiplometsUnAssignedCases</span>
				<span class="text-success p-2">Assigned Cases: @Model.DiplometsAssignedCases</span>
				<span class="text-info p-2">Total Cases : @Model.backlog.Tables[0].Rows.Count</span>
			</div>
			<button class="btn btn-success right font-weight-bold" onclick="ExportToExcel('xlsx','diplomets');">Export</button>
		</div>
		<table id="diplomets" class="sortable table table-striped table-bordered">
			<thead class="table-dark">
			<TD>Pre-Triage Status</TD>
			@for (int ii = 0; ii < Model.backlog.Tables[0].Columns.Count - 1; ii++)
			{
		<th><button>@Model.backlog.Tables[0].Columns[ii].ColumnName <span aria-hidden="true"></span> </button></th>			}
			</thead>

			@for (int i = 0; i < Model.backlog.Tables[0].Rows.Count; i++)
			{
				<tr>
					<td>@Model.backlog.Tables[0].Rows[i]["PreTriageStatus"]</td>
					@for (int j = 0; j < Model.backlog.Tables[0].Columns.Count - 1; j++)
					{
						<td>@Model.backlog.Tables[0].Rows[i][j]</td>
					}

				</tr>


			}
		</table>
	</div>



	<div id="Optimizers" class="tabcontent">
		<div class="w-100 clearfix">
			<div class="d-inline font-weight-bold">
				<span class="text-danger p-2">UnAssigned Cases: @Model.OptimizersUnAssignedCases</span>
				<span class="text-success p-2"> Assigned Cases: @Model.OptimizersAssignedCases</span>
				<span class="text-primary p-2">Total Cases : @Model.backlog.Tables[2].Rows.Count</span>
			</div>
			<button class="btn btn-success right font-weight-bold" onclick="ExportToExcel('xlsx','optimizers');">Export</button>
		</div>
		<table id="optimizers" class="sortable table table-striped table-bordered">
			<thead class="table-dark">
			<TD>Pre-Triage Status</TD>
			@for (int ii = 0; ii < Model.backlog.Tables[2].Columns.Count - 1; ii++)
			{
		<th><button>@Model.backlog.Tables[2].Columns[ii].ColumnName <span aria-hidden="true"></span> </button></th>			}
			</thead>
			@for (int i = 0; i < Model.backlog.Tables[2].Rows.Count; i++)
			{
				<tr>
					<td> @Model.backlog.Tables[2].Rows[i]["PreTriageStatus"] </td>

					@for (int j = 0; j < Model.backlog.Tables[2].Columns.Count - 1; j++)
					{
						<td>@Model.backlog.Tables[2].Rows[i][j]</td>
					}
				</tr>
			}
		</table>
	</div>
</div>
			